name: CI

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v1
    - name: Project setup
      run: npm install
    - name: Compile and minify for production
      run: npm run build
    - name : FTP-Deploy
      uses: SamKirkland/FTP-Deploy-Action@master
      env: 
       GITHUB_TOKEN :  ${{ secrets.GITHUB_TOKEN }}
       FTP_SERVER :  ${{ secrets.FTP_SERVER }}
       FTP_PASSWORD :  ${{ secrets.FTP_PASSWORD }}
       FTP_USERNAME :  ${{ secrets.FTP_USERNAME }}
       LOCAL_DIR :  ${{ secrets.LOCAL_DIR }}
       REMOTE_DIR :  ${{ secrets.REMOTE_DIR }}
    - name: Run unit tests
      run: npm run test:unit
    
      
    
    
